.navbar {

  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; /* izquierda y derecha */
  align-items: center;            /* todo centrado vertical */
  padding: 0 40px;
  z-index: 1000;
  background: none;               /* sin barra gris fea */
}

/* IZQUIERDA */
.nav-left {
  display: flex;
  align-items: center;
  gap: 30px; /* espacio entre logo y links */
}

.nav-logo {
  font-size: 18px;
  font-weight: 700;
  color: #15b9fa ;   /* amarillo Raspi */
  text-decoration: none;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 20px; /* separación entre apartados */
}

.nav-item {
  color: #808080;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #B0B0B0;
}

.nav-item.active {
  color: #B0B0B0;
}

.nav-item.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* DERECHA */
.nav-right .nav-btn {
    height: 40px;
        margin: 5px;
        width: 120px;
        background: #333;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: Consolas, Courier New, monospace;
        border: solid #404c5d 1px;
        font-size: 16px;
        color: rgb(161, 161, 161);
        -webkit-transition: 500ms;
        transition: 500ms;
        border-radius: 10px;
        background: linear-gradient(145deg, #2e2d2d, #212121);
        -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
            inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
        box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
            inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    }


.nav-right .nav-btn:hover {
        -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
        box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
        color: #d6d6d6;
        -webkit-transition: 500ms;
        transition: 500ms;
}

.nav-right .nav-btn:active {
    -webkit-box-shadow: 1px 1px 13px #20232e,
    -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #E6E6E6,
    -1px -1px 33px #0e571a;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
}